<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fxn.pix2">

    <application android:largeHeap="true">
        <activity
            android:name=".Pix2"
            android:theme="@style/PixAppTheme"></activity>
    </application>

</manifest>